selenium==4.19.0
serpapi==0.1.5
pdfminer.six==20221105
streamlit==1.40.0
openpyxl==3.1.2
google==3.0.0
langchain==0.1.16
google-generativeai==0.5.4
xlsxwriter==3.2.0
pandas==1.5.3
openai>=0.28.0
streamlit-authenticator
PyPDF2==3.0.1
tiktoken>=0.5.2,<0.6.0
webdriver-manager==4.0.2
beautifulsoup4
duckduckgo_search
pymupdf4llm
langchain








