crewai[tools]==0.28.8
selenium==4.19.0
serpapi==0.1.5
pdfminer.six==20221105  # Updated fork of pdfminer
streamlit==1.32.2
langchain>=0.80.0  # Compatible with Python 3.10 or higher
openpyxl==3.1.2
langchain_groq==0.1.2
google==3.0.0
google-generativeai==0.5.4
xlsxwriter==3.2.0
pandas==1.5.3
openai>=0.28.0  # Modern OpenAI library
streamlit-authenticator
PyPDF2==3.0.1
tiktoken>=0.5.2,<0.6.0






